 <div class="container">
  <h3 class="margin_top text-center">皆様</h3>
  <div class="main_width">
  <h3 class="margin_top text-center">グループオーナーからイベントの通知です。</h3>
    <div class="small_margin_top">

      [タイトル]<p class="font-weight-bold"> <%= @mail_title %></p>
    </div>
    <div>
      [本文]<p class="font-weight-bold"> <%= @mail_content %></p>

    </div>
  </div>
</div>

<h3 class="margin_top text-center">今後とも よろしくお願いいたします。</h3>
